@import url('reset.css');
@import url('utilities.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* colors */
  --cl-white: hsl(0, 0%, 95%);
  --cl-darkblue: hsl(222, 45%, 11%);
  --cl-darkblue-100: hsl(221, 34%, 18%);
  --cl-darkblue-300: hsl(222, 18%, 47%);
  --cl-darkblue-500: hsl(222, 13%, 65%);
  --cl-pinky: hsl(338, 94%, 65%);
  --cl-bluu: hsl(192, 64%, 57%);
  /* sizes */
  --2xsmall: 0.35rem;
  --xsmall: 0.5rem;
  --small: 0.85rem;
  --regular: 1rem;
  --medium: 1.25rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --2xlarge: 3rem;
  /* fonts */
  --poppins: 'Poppins', sans-serif;
  /* font weights */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  background: var(--cl-darkblue);
  font-family: var(--poppins);
  color: var(--cl-white);
  display: flex;
  height: 100vh;
  overflow: hidden;
}

aside {
  min-width: 680px;
  flex-basis: 50rem;
  padding: var(--xlarge) var(--medium);
}

#logo {
  color: var(--cl-bluu);
  user-select: none;
  cursor: pointer;
}
#logo span {
  color: var(--cl-pinky);
}

.workouts {
  height: 75vh;
  overflow: auto;
  padding: 0 var(--2xlarge);
}

/* FORM */

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
}
.form.none {
  display: none;
}

.form__row--hidden {
  display: none;
}
.form__label {
  flex: 0 0 40%;
  font-size: var(--regular);
}

.form__input {
  width: 100%;
  font-size: var(--small);
  background-color: var(--cl-darkblue-300);
  border: 1px solid var(--cl-darkblue-300);
  color: var(--cl-white);
  padding: var(--2xsmall) var(--small);
  border-radius: 4px;
  outline: none;
}

.form__input:focus {
  background-color: var(--cl-darkblue-100);
  border: 1px solid var(--cl-darkblue-300);
}
.form__input::placeholder {
  color: var(--cl-darkblue-500);
  font-size: var(--small);
}

/* WORKOUT ITEM */

.workout {
  cursor: pointer;
}

.workout--cycling {
  border-left: var(--small) solid var(--cl-pinky);
}
.workout--running {
  border-left: var(--small) solid var(--cl-bluu);
}

.workout__title,
.workout__detail--item-icon,
.workout__detail--item-value {
  font-size: var(--medium);
  font-weight: var(--fw-500);
}

.workout__detail--item-unit {
  text-transform: uppercase;
  font-size: var(--small);
  color: var(--cl-darkblue-500);
}

.copyright {
  font-size: var(--small);
  font-weight: var(--fw-400);
  color: var(--cl-darkblue-500);
}

#map {
  background: var(--cl-darkblue-100);
  height: 100vh;
  width: 100%;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--cl-darkblue-100);
  color: var(--cl-white);
  border-radius: var(--xsmall);
  padding-right: var(--2xsmall);
}

.leaflet-popup .leaflet-popup-content {
  font-size: var(--small);
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--cl-darkblue-100);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: var(--xsmall) solid var(--cl-bluu);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: var(--xsmall) solid var(--cl-pinky);
}
